<div class='row market-insight'>
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 asset-view' ng-repeat="recommendation in data.recommendations" ng-click="handler.onRecommendationClick(recommendation)">
        <div>
            <div class='market-detail'>
                    <div class='row header clearfix'>
                        <div class='col-xs-4 text-left'>
                            <span class='ticker'>{{recommendation.heading}}</span>                
                        </div>
                        <div class='col-xs-8 text-right'>
                            <span class='action-text'>Strongly Recommended</span><span class='action' ng-class="{'positive-color':recommendation.action==='To Buy','negative-color':recommendation.action==='To Sell'}">{{recommendation.action}}</span>      
                        </div>
                    </div>
                    <div class='row title'>
                        <div class='col-xs-12'>
                            {{recommendation.title}}
                        </div>
                    </div>
                    <div class='row detail'>
                        <div class='col-xs-12'>
                            {{recommendation.summary}}
                        </div>
                    </div>
            </div>            
            <div class="btn-group btn-group-justified footer">
                <div class="btn-group">
                    <div class='client-affected'>Clients</div>
                    <div xng-class="{'positive-color':recommendation.marketEffect === 'positive','negetive-color':recommendation.marketEffect === 'negative'}">{{recommendation.impact.positive + recommendation.impact.negative}}</div>
                </div>
                <div class="btn-group" role="group">
                    <div class='affected-title'>Total Return</div>
                    <div style='height:26px;padding-top:2px;padding-top:6px;'>
                        <!-- <img ng-src="{{handler.getIcon(recommendation.rating)}}"/> -->
                       <!--  <span class="negative-color" ng-class="{'positive-color':recommendation.totalReturn >== 0, 'negative-color':recommendation.totalReturn < 0}">{{recommendation.totalReturn}}</span> -->
                       <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.totalReturn < 0">
                       <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.totalReturn>=0 && recommendation.totalReturn <= 1">
                       <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.totalReturn>1">
                       <span ng-if="recommendation.totalReturn=='--'">-</span>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <div class='affected-title'>Revenue Consistency</div>
                    <div style='height:26px;padding-top:6px;'>
                        <!-- <img ng-src="{{handler.getIcon(recommendation.momentum)}}"/> -->
                        <!-- <span class="positive-color">{{recommendation.consistentReturn}}</span> -->
                        <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.consistentReturn < 0">
                       <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.consistentReturn>=0 && recommendation.consistentReturn <= 1">
                       <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.consistentReturn>1">
                        <span ng-if="recommendation.consistentReturn=='--'">-</span>
                    </div>
                </div>
                <div class="btn-group" role="group">
                     <div class='affected-title'>Preservation Return</div>
                    <div style='height:26px;padding-top:6px;'>
                        <!-- <img ng-src="{{handler.getIcon(recommendation.news)}}"/> -->
                        <!-- <span class="positive-color">{{recommendation.preservationReturn}}</span> -->
                        <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.preservationReturn < 0">
                       <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.preservationReturn>=0 && recommendation.preservationReturn <= 1">
                       <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.preservationReturn>1">
                       <span ng-if="recommendation.preservationReturn=='--'">-</span>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <div class='affected-title'>Expense</div>
                    <div style='height:26px;padding-top:6px;'>
                        <!-- <img ng-src="{{handler.getIcon(recommendation.social)}}"/> -->
                        <!-- <span class="positive-color">{{recommendation.expense}}</span> -->
                        <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.expense < 0">
                       <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.expense>=0 && recommendation.expense <= 1">
                       <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.expense>1">
                       <span ng-if="recommendation.expense=='--'">-</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div> 