<div class='row client-list'>
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 client' ng-repeat="client in data.clients" ng-click="handler.onClientClick(client)">
        <div class='clickable internal-box'>
            <div class="row row-box">
                <div class='col-xs-4 col-sm-6 col-md-4'>
                    <div style="text-align:center;">
                        <img ng-src="{{client.photo}}" class="clickable"/>
                    </div>
                </div>
                <div class='col-xs-8 col-sm-6 col-md-8'>
                    <p class='name clickable'>{{client.name}}</p>
                    <p class='portfolio clickable'>{{data.labels['portfolio']}} : <br/>{{client.portfolio.description}}</p>
                </div>
            </div>
            <div class="row row-box clickable">
                <div class="col-xs-12 portfolio-value-label clickable">{{data.labels['portfolio-value']}}</div>
            </div>
            <div class="row row-box clickable">                        
                <div class="col-xs-12 portfolio-value clickable"><span portfolio-value="{{client.portfolio.value}}" currency='{{client.portfolio.currency}}'></span></div>
            </div>
            <div class="row row-box clickable">
                <div class="col-xs-12 performance-label clickable">
                    {{client.portfolio.performance.duration}}
                </div>
            </div>
            <div class="row row-box clickable">
                <div class="col-xs-12 performance-positive positive-color clickable" ng-class="{'positive-color':client.portfolio.performance.percentage > 0,'negative-color':client.portfolio.performance.percentage <= -1}">
                    <span class='clickable'><span ng-if="client.portfolio.performance.percentage > 0">+</span>{{client.portfolio.performance.percentage}}%</span>
                </div>
            </div>


             <div class='row footer clickable'>
                <div class='col-xs-8 text-left clickable' style="padding:0;">
                    <div class='clickable'>
                        <a class='clickable'><img src='img/increase-trend.png' class='clickable'/> {{client.impact.positive}}</a> <span class='divider-line'>|</span> <a class='clickable'><img src='img/decrease-trend.png' class='clickable'/> {{client.impact.negative}}</a>
                    </div>
                </div>
                <div class='col-xs-4 text-right clickable' style="padding:0;">
                    <div class='clickable'>
                        <a href='#/app/client/{{client.id}}' class='client-link-detail'><img src='img/right-arrow.png'/></a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>