<div class="row client-info">
    <div class="col-md-7 profile">
        <div class="row"  style='margin-bottom:20px;'>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-6 text-right sub-header profile">
                <!-- risk profile Risk Profile -->
                <span data-client-assessment-type-text ng-model="data.client"></span>Risk Profile<span data-assessment-type-icon ng-model="data.client"></span>
            </div>
        </div>

        <!-- CLIENT PROFLILE -->
        <div class="row client">
            <div class="col-xs-12" style='margin-bottom:0;'>
                <div class="row detail">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="position:relative;left:-16px;">
                        <div class='col-xs-4'>
                            <div style="text-align:center;">
                                <img ng-src="{{data.client.photo}}" style='display:inline-block;'/>
                            </div>
                        </div>
                        <div class='col-xs-8'>
                            <p class='name'>{{data.client.name}}</p>
                            <p class='portfolio'>Portfolio: {{data.client.portfolio.description}}</p>
                            <p class='portfolio'><span data-client-age="" ng-model="data.client"></span> years old</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 text-left" style='padding-left:0;width:230px;'>
                        <p class='contact'>
                            {{data.client.contact.mobile}}
                        </p>
                        <p class='contact'>
                            {{data.client.contact.email}}
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 address">
                        <p data-address="{{data.client.address}}"></p>
                    </div>
                </div>
                <div class="row performance">
                    <div class="col-xs-4" style='padding-left:30px;'>
                         <p class='performance-label'>{{data.client.portfolio.performance.duration}}</p>
                         <div class="performance-percentage" ng-class="{'positive-color':data.client.portfolio.performance.percentage >= 0 , 'negative-color':data.client.portfolio.performance.percentage < 0}">
                             <span ng-if="data.client.portfolio.performance.percentage >= 0">+</span>{{data.client.portfolio.performance.percentage | number:2}}%
                         </div>
                    </div>
                    <div class="col-xs-4">
                        <p class="portfolio-time-stamp">{{data.client.portfolio.label}}</p>
                        <p class="portfolio-amount" style="margin-bottom:0">
                            <span portfolio-value="{{data.client.portfolio.performance.amount}}" currency="{{data.client.portfolio.currency}}"></span>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <!-- Last Month Performance last month performance -->
                        <p class='portfolio-previous-label'>Last Month Performance</p>
                        <p class='portfolio-previous-amount' ng-class="{'positive-color':data.client.portfolio.performance.previousAmount >= 0 , 'negative-color':data.client.portfolio.performance.previousAmount <= -1}" style="margin-bottom:0">
                            <span portfolio-value="{{data.client.portfolio.performance.previousAmount}}" currency='{{data.client.portfolio.currency}}'></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CLIENT PROFLILE -->

        <!-- CURRENT PORTFOLIO -->
        <div class="row current-portfolio">
            <div class='col-xs-12'>
                <div class='row'>
                    <div class='col-xs-12' style='margin:40px 0 10px 0;padding-left:0'>
                        <!-- current portfolio Current Portfolio -->
                        <h2 class='header' style='padding:0;margin:0;color: #ff8000'>Asset Allocation</h2> 
                    </div>
                </div>
                <div class='row current-portfolio-detail'>
                    <div class='col-xs-4 assessment-description'>
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- risk profile Risk Profile -->
                                <p class='risk-profile'>Risk Profile</p>
                                <p class="assessment-type"><span data-client-assessment-type-text ng-model="data.client"></span> <span data-assessment-type-icon ng-model="data.client"></span></p>
 <!--                                <p class='assessment-type-description'>
                                    {{data.client.portfolio.assessmentTypeDescription}}
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-8 distribution'>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <!-- equity funds -->
                                    <div class='col-xs-5 actual-label'>Equity Funds</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution.equities.percentage}}%"></div><span>{{data.client.portfolio.distribution.equities.percentage}}%</span>
                                    </div>
                                </div>
                                <!-- ideal  -->
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution.equities.ideal}}%"></div><span>{{data.client.portfolio.distribution.equities.ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <!-- fixed income funds -->
                                    <div class='col-xs-5 actual-label'>Fixed Income Funds</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution['fixed-income'].percentage}}%"></div><span>{{data.client.portfolio.distribution['fixed-income'].percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label actual-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution['fixed-income'].ideal}}%"></div><span>{{data.client.portfolio.distribution['fixed-income'].ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class='col-xs-5 actual-label'>Alternative Funds</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution.alternative.percentage}}%"></div><span>{{data.client.portfolio.distribution.alternative.percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label actual-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution.alternative.ideal}}%"></div><span>{{data.client.portfolio.distribution.alternative.ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class='col-xs-5 actual-label'>Cash</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution.cash.percentage}}%"></div><span>{{data.client.portfolio.distribution.cash.percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution.cash.ideal}}%"></div><span>{{data.client.portfolio.distribution.cash.ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class="col-xs-12">
<!--                             <div class='row'>
                                <div class='col-xs-12' style='margin:40px 0 10px 0;padding-left:0'>
                                    current portfolio Current Portfolio
                                    <h2 class='header' style='padding:0;margin:0'>Asset Allocation</h2> 
                                </div>
                            </div> -->
                            <!-- risk profile Risk Profile -->
                            <div class = 'row'>
                                <p  
                                style = "font-family: Avenir;font-size: 27px;color: #fff;padding-left:40px;padding-top:10px">
                                    Portfolio Diagnostic
                                </p>
                            </div>
                        </div>
                    </div>
          
                    <div class='col-xs-12'>
                        <div class="row">
                            <p style = "font-family: Avenir;font-size: 20px;color: #fff;padding-left:40px;padding-top:0px">
                                 <!--    {{data.client.portfolio.assessmentTypeDescription}} -->
                                 <div class = "col-xs-2" style="padding-left:70px"><img src="img/neutral-face.png" width="25px"></div>
                                 <div class = "col-xs-2">6/10</div>
                                 <div class = "col-xs-8">Portfolio needs some reshuffling to fix some imbalances especially regarding asset allocation
                        </div>
                                 <br>
                                 <br>
                                 <br>
                                 <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="col-xs-3"><img src="img/neutral-face.png" width="15px" style="margin-right:5px">Equity</td>
                                            <td class="col-xs-3"><img src="img/neutral-face.png" width="15px" style="margin-right:5px">Fixed Income</td>
                                            <td class="col-xs-3"><img src="img/smiley-face.png" width="15px" style="margin-right:5px">Alternative</td>
                                            <td class="col-xs-3"><img src="img/sad-face.png" width="15px" style="margin-right:5px">Concentration</td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-3"><p>
                                            Allocation to Equitiy is too heavy at 45% versus model at 30%.
                                            <p>Allocation to Asia Pacific and Emerging Markets is missing.</td>
                                            <td class="col-xs-3">
                                                <p>Allocation to Fixed Income is too light at 35% versus model at 50%.
                                                <p>Allocation to Corporate bond is missing.
                                                <p>Your fixed income piece should be exposed to your base currency, the Euro.
                                            </td>
                                            <td class="col-xs-3">
                                                <p>Allocation to Alternative is roughly in line with model.
                                                <p>Allocations to hedge funds and private equities are missing.
                                            </td>
                                            <td class="col-xs-3">
                                                <p>Portfolio is too concentrated in few positions. 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CURRENT PORTFOLIO -->

        <!-- CURRENT PORTFOLIO -->
        <div class="row current-portfolio">
            <div class='col-xs-12'>
                <div class='row'>
                    <div class='col-xs-12' style='margin:40px 0 10px 0;padding-left:0'>
                        <!-- current portfolio Current Portfolio -->
                        <h2 class='header' style='padding:0;margin:0;color: #ff8000'>Portfolio Details</h2> 
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-12 distribution'>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row ideal-label">
                                    <!-- equity funds -->
                                    <div class = 'row' style = "font-family: Avenir;font-size: 15px;color: #ff8000 !important;opacity:1!important">
                                        <div class='col-xs-4'>
                                            Name
                                        </div>
                                        <div class='col-xs-1'>Currency</div>
                                        <div class='col-xs-1'>Units</div>
                                        <div class='col-xs-2'>Latest Price</div>
                                        <div class='col-xs-2'>Val(Eur)</div>
                                        <div class='col-xs-2'>P&L</div>
                                    </div>
                                    <br>
                                    <div class = 'row' style = "font-size: 16px;opacity:1">
                                        <div class='col-xs-4'>
                                            Equity
                                        </div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                            Fidelity America Fund (USD)
                                        </div>
                                        <div class='col-xs-1'>USD</div>
                                        <div class='col-xs-1'>630.35</div>
                                        <div class='col-xs-2'>234.53</div>
                                        <div class='col-xs-2'>147839.43</div>
                                        <div class='col-xs-2'>13.874%</div>
                                    </div>             
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                            Schroders European Equity Alpha
                                        </div>
                                        <div class='col-xs-1'>EUR</div>
                                        <div class='col-xs-1'>17.47</div>
                                        <div class='col-xs-2'>4,562.89</div>
                                        <div class='col-xs-2'>79,736.45</div>
                                        <div class='col-xs-2'>9.50%</div>
                                    </div>
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                            Franklin Mutual European
                                        </div>
                                        <div class='col-xs-1'>EUR</div>
                                        <div class='col-xs-1'>1,712.84</div>
                                        <div class='col-xs-2'>74.80</div>
                                        <div class='col-xs-2'>128,120.22</div>
                                        <div class='col-xs-2'>23.74%</div>
                                    </div>
                                    <br>
                                    <div class = 'row' >
                                        <div class='col-xs-4' style = "font-size: 16px;opacity:1">
                                            Fixed Income
                                        </div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                            Templeton Global Bond Fund - Dist
                                        </div>
                                        <div class='col-xs-1'>USD</div>
                                        <div class='col-xs-1'>2,234.51</div>
                                        <div class='col-xs-2'>73.50</div>
                                        <div class='col-xs-2'>164,236.43</div>
                                        <div class='col-xs-2'>27.73%</div>
                                    </div>
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                             Pimco Total Return Bond Fund
                                        </div>
                                        <div class='col-xs-1'>USD</div>
                                        <div class='col-xs-1'>61.30</div>
                                        <div class='col-xs-2'>3,447.50</div>
                                        <div class='col-xs-2'>211,345.74</div>
                                        <div class='col-xs-2'>3.53%</div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4' style = "font-size: 16px;opacity:1">
                                             Alternative
                                        </div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                             SPDR Gold Trust
                                        </div>
                                        <div class='col-xs-1'>USD</div>
                                        <div class='col-xs-1'>5.53</div>
                                        <div class='col-xs-2'>4,234.30 </div>
                                        <div class='col-xs-2'>23,423.00</div>
                                        <div class='col-xs-2'>-1.55%</div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4' style = "font-size: 16px;opacity:1">
                                             Cash
                                        </div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'></div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4'>
                                             EUR Cash
                                        </div>
                                        <div class='col-xs-1'>EUR</div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2'>163,567.00</div>
                                        <div class='col-xs-2'></div>
                                    </div>
                                    <br>
                                    <div class = 'row'>
                                        <div class='col-xs-4' style = "font-size: 16px;opacity:1">
                                             TOTAL
                                        </div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-1'></div>
                                        <div class='col-xs-2'></div>
                                        <div class='col-xs-2' style = "font-size: 16px;opacity:1">918,268.27</div>
                                        <div class='col-xs-2' style = "font-size: 16px;opacity:1">12.80%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CURRENT PORTFOLIO -->
        <!-- BuySell -->
        <div class="row recommendation-list" ng-if="data.reccomendations.length > 0" style="padding:0">
            <div class='col-xs-12'>
                <div class='row'>
                    <div class='col-xs-12 header-parent'>
                        <!-- Recommendations recommendations -->
                        <h2 class='header' style="color: #ff8000 !important;opacity: 1 !important">Buy/Sell</h2>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4  recommendation-container" ng-repeat="recommendation in data.reccomendations | orderBy: 'rank'">
                        <div class='row recommendation'>
                            <div class="col-xs-12" id="recommendation-{{recommendation.id}}" ng-click="handler.onClickRecommendation(recommendation,$index)">
                                <div class="row body">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <h2 class='title1'>{{recommendation.heading}}</h2>
                                            </div>
                                            <div class="col-xs-8 text-right" style='padding:0'>
                                                <span class='title2'>Strongly Recommended</span> <span data-reccomendation-action="" ng-model="recommendation"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 recommendation-title">{{recommendation.title}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 recommendation-description">{{recommendation.summary}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-justified footer" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <div class='client-affected'>Rank</div>
                                        <div>{{$index+1}}</div>
                                    </div>
                                    <!-- total return -->
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>Total Return</div>
                                        <div style='height:26px;padding-top:2px;padding-top:6px;'>
                                            <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.totalReturn < 0">
                                           <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.totalReturn>=0 && recommendation.totalReturn <= 1">
                                           <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.totalReturn>1">
                                           <span ng-if="recommendation.totalReturn=='--'" style="color: gray;">-</span>
                                        </div>
                                    </div>
                                    <!-- consistent return -->
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>Consistent Return</div>
                                        <div style='height:26px;padding-top:6px;'>
                                            <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.consistentReturn < 0">
                                           <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.consistentReturn>=0 && recommendation.consistentReturn <= 1">
                                           <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.consistentReturn>1">
                                           <span ng-if="recommendation.consistentReturn=='--'" style="color: gray;">-</span>
                                        </div>
                                    </div>
                                    <!-- preservation return -->
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>Preservation Return</div>
                                        <div style='height:26px;padding-top:6px;'>
                                            <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.preservationReturn < 0">
                                           <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.preservationReturn>=0 && recommendation.preservationReturn <= 1">
                                           <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.preservationReturn>1">
                                           <span ng-if="recommendation.preservationReturn=='--'" style="color: gray;">-</span>
                                        </div>
                                    </div>
                                    <!-- expense -->
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>Expense</div>
                                        <div style='height:26px;padding-top:6px;'>
                                            <img src="img/sad-face.png" width="25" alt="negative" ng-if="recommendation.expense < 0">
                                           <img src="img/neutral-face.png" width="25" alt="neutral" ng-if="recommendation.expense>=0 && recommendation.expense <= 1">
                                           <img src="img/smiley-face.png" width="25" alt="positive" ng-if="recommendation.expense>1">
                                           <span ng-if="recommendation.expense=='--'" style="color: gray;">-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- RECOMMENDATIONS -->
        <div class="row current-portfolio">
            <div class='col-xs-12'>
                <div class='row'>
                    <div class='col-xs-12' style='margin:40px 0 10px 0;padding-left:0'>
                        <!-- current portfolio Current Portfolio -->
                        <h2 class='header' style='padding:0;margin:0;color: #ff8000'>Portfolio Reshuffling Recommendation</h2> 
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-12 distribution'>
                            <div class="row">
                                <div class="w3-bar w3-black">
                                  <button id = "firstfocus" class="w3-bar-item w3-button" onclick="openCity('London')">Default</button>
                                  <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Comprehensive</button>
                                  <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Light</button>
                                  <button class="w3-bar-item w3-button" onclick="openCity('Trader')">Trader</button>
                                </div>
                               
                                <div id="London" class="w3-container city">
                                <br>
                                EUR 75,000 to BUY/EUR 50,000 to SELL/EUR 375,000 to SWITCH
                                  <h3>Redemption</h3>
                                  <p>Sell EUR 50,000 of Schroder European Equity Alpha
                                  <h3>Purchases</h3>
                                  <p>Buy EUR 15,000 of Templeton Asian Equities
                                  <p>Buy EUR 35,000 of Franklin European Corporate Bond Fund
                                  <h3>Switches</h3>
                                  <p>Switch EUR 164,000 of Templeton Global Bond Fund into Templeton Global Bond Fund (EUR-H)
                                  <p>Switch EUR 211,000 of Pimco Total Return Bond Fund into Pimco Total Return bond Fund (EUR-H)
                                </div>

                                <div id="Paris" class="w3-container city">
                                 <br>
                                EUR 412,000 to BUY/EUR 390,000 to SELL/EUR 137,000 to SWITCH
                                  <h3>Redemption</h3>
                                  <p>Sell USD 147,000 of Fidelity America Fund (USD)
                                  <p>Sell EUR 79,000 of Schroder European Equity Alpha
                                  <p>Sell USD 15,000 of Apple
                                  <p>Sell USD 211,000 of Pimco Total Return Bond Fund
                                  <p>Sell USD 10,000 of SPDR Gold Trust
                                  <h3>Purchases</h3>
                                  <p>Buy EUR 15,000 of Templeton Asian Equities
                                  <p>Buy USD 147,000 of Franklin Mutual Beacon Fund
                                  <p> Buy EUR 29,000 of Franklin Mutual European
                                  <p>Buy EUR 35,000 of Franklin European Corporate Bond Fund
                                  <p>Buy EUR 211,000 of Templeton Global Bond Fund - A (acc) EUR-H1
                                  <h3>Switches</h3>
                                  <p>Switch USD 164,000 of Templeton Global Bond Fund into Templeton Global Bond Fund (EUR-H)
                                </div>

                                <div id="Tokyo" class="w3-container city" style="display:none">
                                 <br>
                                 EUR 50,000 to BUY/EUR 50,000 to SELL/EUR 0 to SWITCH
                                  <h3>Redemption</h3>
                                   <br>
                                  <p>Sell EUR 50,000 of Schroder European Equity Alpha</p>
                                  <h3>Purchases</h3>
                                  <p>Buy EUR 15,000 of Templeton Asian Equities
                                  <p>Buy EUR 35,000 of Franklin European Corporate Bond Fund
                                </div>

                                <div id="Trader" class="w3-container city" style="display:none">
                                 <br>
                                 EUR 50,000 to BUY/EUR 50,000 to SELL/EUR 312,000 to SWITCH
                                  <h3>Redemption</h3>
                                  <p>Sell EUR 50,000 of Schroder European Equity Alpha</p>
                                  <h3>Purchases</h3>
                                  <p>Buy EUR 15,000 of Templeton Asian Equities</p>
                                  <p>Buy EUR 35,000 of Franklin European Corporate Bond Fund<p>
                                  <h3>Switches</h3>
                                  <p>Switch USD 164,000 of Templeton Global Bond Fund into Templeton Global Bond Fund (EUR-H)
                                  <p>Switch USD 211,000 of Pimco Total Return Bond Fund into Pimco Total Return bond Fund (EUR-H) 
                                </div>

                                <script>
                                document.getElementById("firstfocus").focus(); 
                                function openCity(cityName) {
                                    var i;
                                    var x = document.getElementsByClassName("city");
                                    for (i = 0; i < x.length; i++) {
                                       x[i].style.display = "none";  
                                    }
                                    document.getElementById(cityName).style.display = "block";  
                                }
                                </script>
                                <style>
                                    .w3-button {
                                        background-color: #000000 !important; /* Green */
                                        border-radius: 15px;
                                        border: none !important;
                                        color: white !important;
                                        padding: 15px 32px !important;
                                        text-align: center !important;
                                        text-decoration: none !important;
                                        display: inline-block !important;
                                        font-size: 16px !important;
                                    }
                                    .w3-button:focus {
                                        background-color: #ff8000 !important;
                                    }

                                    .w3-container .city #London{
                                        color: white !important;
                                        font-color: white !important;
                                    }
                                    .client-info .profile{
                                        color: white;
                                        font-color: white;
                                    }
                                </style>
                            </div>
                    </div>
                </div>
            </div>
        </div>

                            
        <!-- END POSITIVE OUTLOOK -->
    </div>
    <div class="col-md-5 report-list" ng-if="data.news.length > 0">
        <div class="row">
            <div class="col-xs-12 text-left sub-header" style='margin-bottom:0;'>
                 <a ng-click="handler.onClickCategoryDone()" class='test1'>Next</a>
            </div>
        </div>
        <div class='category-news-list'>
            <recommendation-news-list ng-model="data.news"></recommendation-news-list>
             <a class="btn btn-default done" ng-click="handler.onClickCategoryDone()">Next <img src="img/check-mark.png"/></a>
        </div>
    </div>
</div>
