<div class="col-xs-12 news">            
    <div class="row head">
        <div class="col-xs-6">
            <div class='heading'>{{data.news.heading}}</div>
        </div>
        <div class="col-xs-6 text-right">
            <div class='category'>{{data.news.category}}</div>
        </div>
    </div>
    <div class="row">
        <div class='col-xs-2 text-left action' ng-class="{'positive-color':data.news.action === 'buy','negative-color':data.news.action === 'sell'}">
            {{data.news.action}}
        </div>
        <div class='col-xs-4' style='padding-left:4px'>
            <div class='title'>{{data.news.title.main}}</div>
            <div class='sub-title'>{{data.news.title.sub}}</div>
        </div>
        <div class='col-xs-4' style='padding:0'>
            <div class='price'>
               <img src="img/red-arrow-down.png" ng-if="data.news.percentage <= -0.0000000001"/><img src="img/green-arrow-down.png" ng-if="data.news.percentage >= 0.00000000001"/> {{handler.abs(data.news.price) | number:2}} <sub>{{data.news.currency}}</sub>
            </div>
            <div class='ts'>
                {{data.news.ts}}
            </div>
        </div>
        <div class='col-xs-2'>
            <div class='text-right' ng-class="{'positive-color':data.news.amount > 0,'negative-color':data.news.amount < 0.0001}">{{handler.abs(data.news.amount) | number:2}}</div>
            <div class='text-right' ng-class="{'positive-color':data.news.amount > 0,'negative-color':data.news.amount < 0.0001}">{{handler.abs(data.news.percentage) | number:2}}%</div>
        </div>
    </div>
</div>