@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir/Avenir-Roman.eot');
    src: url('./fonts/avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir/Avenir-Roman.woff') format('woff'),
        url('fonts/avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir/Avenir-Medium.eot');
    src: url('./fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir/Avenir-Medium.woff') format('woff'),
        url('./fonts/avenir/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir/Avenir-Heavy.eot');
    src: url('./fonts/avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir/Avenir-Heavy.woff') format('woff'),
        url('./fonts/avenir/Avenir-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('./fonts/avenir/Avenir-Book.eot');
    src: url('./fonts/avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/avenir/Avenir-Book.woff') format('woff'),
        url('./fonts/avenir/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body,html
{
    font-family: 'Avenir';
    background-color: #0C1123;
    color:#fff;
    font-size:12pt;

    /* THIS SHOULD BE INCLUDED ON CONDITION BASE */
    /*height:100%;
    overflow:hidden;*/
}

.top-header
{
    background-color:#181d2c;
}

a, a:active, a:focus {
outline: none;
}

a[ng-click]{
    cursor: pointer;
}

.slider.slider-horizontal .slider-track
{
    height:1px;
    background-image:linear-gradient(to bottom, #3a466a 0%, #3a466a 100%);
}

.slider-selection
{
    background-image:linear-gradient(to bottom, #3a466a 0%, #3a466a 100%);
}

.slider-handle
{
    background-color:#ff8000;
    background-image:none;
    height:10px;
    width:10px;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle
{
    top:1px;
}

.header .logo
{
    position:relative;
    top:10px;
    left:-40px;
}

.header .nav-tabs.nav-justified > li > a
{
    font-family: 'Avenir';
    padding:15px;
}


.header-content
{
    background-color:#1d2338;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color:#fff;
}

.header-content .dropdown .btn
{
    background-color:#171B2D;
    border-color:#2A324B;
    opacity:0.4;
    filter: alpha(opacity=40);
    min-width:150px;
    font-family:Avenir;
    letter-spacing:0.7;
}

.header-content .timer
{
     font-family: Avenir;
     font-size:14px;
     letter-spacing:0.7px;
}

.header-content .dropdown .btn > span.caret
{
    margin-left:20px;
}

.header-content .text
{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.header-content .col1
{
    padding-left:25px;
}

.sub-header
{
    letter-spacing: 0.9px;
    color: #cfcfcf;
}

.positive-color
{
    color:#63bd00;
}

.negative-color
{
    color:#ff4135;
}

.neutral-color
{
    color:#F8E71C;
}

.positive-bgcolor
{
    background-color:#63bd00;
}

.negative-bgcolor
{
    /*background-color:#ff4135;*/
}


.clickable
{
    cursor:pointer;
}

.profile-assessment-icon-indicator
{
    display:inline-block;
    width:12px;
    height:12px;
    border-radius: 50%;        
}

.profile-high-risk
{
    border:6px solid #ff4135; 
}

.profile-medium-risk
{
    border:6px solid #F8E71C;    
}

.profile-low-risk
{
    border:6px solid #7ed321;
}

.nav-tabs.nav-justified>li>a 
{
    font-size: 18px;
    border-bottom: 0;
    color:#fff;
    opacity: 0.4;
    filter: alpha(opacity=40); 
    letter-spacing: 0.5px;
}



.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover 
{
    background-color: transparent;
    color:#fff;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
    border-bottom:3px solid #ff8000;
    color:#fff;
    opacity: 0.8;
    filter: alpha(opacity=80); 

}

.nav-tabs.nav-justified>li>a:hover
{
    background-color:transparent;
    opacity:1;
    border:0;
}

.main-content
{
    padding:0;
}



.section-header
{
    font-size:14px;
    color:#ff8000;
    letter-spacing: 0.7px;
    margin-top:0;
}

.divider-line
{
    color:#979797;
    opacity: 0.3;
    filter: alpha(opacity=30); 
}

.main-content > .row.market-insight
{
    margin:50px;
}

/*.main-content .row .col-xs-12, 
.main-content .row .col-sm-6, 
.main-content .row .col-md-4
{
    margin-bottom:20px;
}*/

.main-content > .row.market-insight .asset-view > div
{
    position:relative;
    background-color:#1d2338;
    min-height:300px;
    /*min-width:150px;*/
    padding:0;
    border:1px solid #1d2848;
    /*border:2px solid #222943;*/
}

.main-content > .row.market-insight .asset-view > div:hover
{
    border: solid 1px #295282;
    cursor:pointer;
}

.main-content > .row.market-insight .asset-view > div > div.row
{
    /*background-color:#161B2D;*/
}

.main-content > .row.market-insight .asset-view .header > div > span
{
    display:inline-block;
    font-family:Avenir;
    padding: 5px 10px;
    text-transform:uppercase;    
    font-weight:bold;
}

.main-content > .row.market-insight .asset-view .header > div > span.ticker
{   
    display:inline-block;
    color:#fff;
    font-family:Avenir;
    font-size:14px;
    font-weight:500;
    letter-spacing:0.3px;
    margin:15px 0 0 0;
    padding-left:15px;
}

.main-content > .row.market-insight .asset-view .header > div > span.action
{
    /*top:-5px;
    right:5px;*/
    font-family:Avenir;
    font-weight:900;
    margin-left:0px;
    padding-left:0px;
    text-transform:uppercase;
}

.main-content > .row.market-insight .asset-view .action-text
{
    color:#9b9b9b;
    font-family:Avenir;
    font-size:10px;
    font-weight:500;
    letter-spacing:0.4px;
    line-height:1.6;
    margin-top:17px;
}

.main-content > .row.market-insight .asset-view  .title
{
    padding-left:20px;
    margin-top:25px;
    margin-bottom:0;
    font-family:Avenir;
    font-size:14px;    
}

.main-content > .row.market-insight .asset-view  .title > div
{
    font-family:Avenir;
    margin-bottom:5px;
    color:#ff8000;
    text-transform:uppercase;
}

.main-content > .row.market-insight .asset-view  .detail
{
    padding-left:20px;
    color:#fff;    
    font-size:24px;
}

.main-content > .row.market-insight .asset-view  .detail > div
{
    font-family:Avenir;
    line-height:1.2em;
}

.main-content > .row.market-insight .asset-view  .action-recommendation
{
    font-family:Avenir;
    color:#fff;
    opacity:0.5;
    filter:alpha(opacity=50)
}

.main-content > .row.market-insight .asset-view  .action-recommendation > div > span
{
    text-transform:uppercase;
}

.main-content > .row.market-insight .asset-view .market-detail
{
    background-color:#161b2d;
    min-height:350px;
    padding-left:15px;
    padding-right:15px;
}

.main-content > .row.market-insight .footer
{
    background-color: #0C1022;
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;    
    /*margin-left: -15px;
    margin-right: -15px;*/
    font-family:Avenir;
    font-size: 0.60em;
    text-align:center;
    color: #9b9b9b;
    margin:0;
    /*border:1px solid #1d2848;*/
}

.main-content > .row.market-insight .footer .client-affected
{
    color:#ffffff;
    font-family:Avenir;
    font-size:10px;
    font-weight:500;
    letter-spacing:0.6px;
    line-height:1.2;
    text-transform:uppercase;
}


.main-content > .row.market-insight .footer > div
{    
    border-right:1px solid #1d2848;
    letter-spacing: 0.6px;
    /*color: #161B2D;*/
    height:80px;
}

.main-content > .row.market-insight .footer > div:nth-child(1)
{
    background-color:#1f2437;
    color:#fff;
    font-family:Avenir;
    font-size:24px;
    font-weight:900;
}

.main-content > .row.market-insight .footer > div:last-child
{
    border:0;
}


/*.asset-view > div
{
    position:relative;
    background-color:#1d2338;
    min-height:300px;
    min-width:150px;
    padding:5px 10px 0 10px;
}


.asset-view > div > h3
{
    font-family: Avenir;
    font-size:24px;
    line-height: 1.3;
    letter-spacing: 0.6px;
}

.asset-view  .detail
{
    min-height:100px;
}

.asset-view > div > h4
{
    position:absolute;
    bottom:50px;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #9b9b9b;
}

.asset-view  sub
{
    opacity: 0.59;
    filter: alpha(opacity=59);
    bottom:0;
}

.asset-view  .detail .amount
{
    font-family: Avenir;
    font-size:24px;
    font-weight:bold;
    letter-spacing: 0.6px;
}

.asset-view  .detail .age
{
    opacity: 0.59;
    filter: alpha(opacity=59); 
    font-size: 13px;
     letter-spacing: 0.3px;
}

.asset-view  .detail .negative-result
{
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #fc292f;
    font-family: "Avenir-Book";
}

.asset-view  .detail .positive-result
{
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #7ed321;
    font-family: "Avenir-Book";
}

.asset-view  .detail .graph
{
    height:30px;
}

.asset-view .row.impacted-client
{
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#262e49;
    height:50px;
    margin-left:-10px;
    margin-right:-10px;    
}

.asset-view .row.impacted-client > .result
{
    border-bottom:5px solid;
    border-right:1px solid #1d2338 !important;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:18px;
}

.asset-view .row.impacted-client > .result > div
{
    width:100%;
}

.asset-view .row.impacted-client > .positive
{
    border-color:#7ed321;
    color:#7ed321;
}

.asset-view .row.impacted-client > .positive  a
{
     color:#7ed321;
}

.asset-view .row.impacted-client > .negative
{
    border-color:#ff4135;
    color:#ff4135;
}

.asset-view .row.impacted-client > .negative a
{
     color:#ff4135;
}

.asset-view .row.impacted-client > .neutral
{
    border-color:#4a90e2;
    color:#4a90e2;
}

.asset-view .row.impacted-client > .neutral a
{
    color:#4a90e2;
}*/

.row .col-xs-12 ,
.row .col-sm-6,
.row .col-md-4
{
    margin-bottom:40px;
}

.market-detail
{
    background-color:#1d2338;
    border:1px solid #1d2848;
    min-height:300px;

}

.market-detail .category-news-list
{
    padding-top:55px;
}

.market-detail .market-list
{
    padding:65px 35px 35px 35px;
    background-color:#0D1123;
}

.market-detail .market-detail
{
    background-color:#161b2d;
    min-height:250px;
    padding-left:15px;
    padding-right:15px;
}

.market-detail .market-detail .ticker
{
    color:#fff;
    display:inline-block;
    font-family:Avenir;
    font-size:14px;
    font-weight:500;
    letter-spacing:0.3px;
    margin:15px 0 0;
    padding-left:15px;
}

.market-detail .market-detail .action-text
{
    display:inline-block;
    font-family:Avenir;
    font-weight:bold;
    padding:5px 10px;
    text-transform:uppercase;
    color:#9b9b9b;
    margin-top:17px;
    font-size:10px;
}


.market-detail .market-detail .action,
.market-detail .clients-summary .action,
.market-detail .clients-summary .client-total
{
    font-weight:900;
    margin-left:0;
    padding-left:0;
    text-transform:uppercase;
}

.market-detail .market-detail .title
{
    font-size:14px;
    margin-bottom:0;
    margin-top:25px;
    padding-left:20px;
}

.market-detail .market-detail .title > div
{
    color:#ff8000;
    font-family:Avenir;
    margin-bottom:5px;
    text-transform:uppercase;
}

.market-detail .market-detail .detail
{
    color:#fff;
    font-size:24px;
    padding-left:20px;
}

.market-detail .asset-view 
{
    margin-bottom:30px;
}

.market-detail .asset-view > div
{
    position:relative;
    border:1px solid #1d2848;
    padding:0;
    min-width:300px;
}

.market-detail .asset-view > div:hover
{
    cursor:pointer;
    border: solid 1px #295282;
}

.market-detail .asset-view .inactive-recommendation
{
    opacity:0.3;
    filter : alpha(opacity=30);
}

.market-detail .footer
{
    /*position:absolute;*/
    background-color:#0c1022;
    color:#9b9b9b;
    display:block;
    font-family:Avenir;
    font-size:0.6em;
    margin:margin;
    text-align:center;
    width:100%;
}

.market-detail .footer > div:nth-child(1)
{
    background-color:#1f2437;
    color:#fff;
    font-family:Avenir;
    font-size:24px;
    font-weight:900;
}

.market-detail .footer .client-affected
{
    color:#ffffff;
    font-family:Avenir;
    font-size:10px;
    font-weight:500;
    letter-spacing : 0.6px;
    line-height:1.2;
    text-transform:uppercase;
}

.market-detail .footer > div
{
    border-right:1px solid #1d2848;
    height:80px;
    letter-spacing:0.6px;
}

.clients-summary
{
    background-color:#0D1123;
    padding:20px;
}

.client-summary
{
    background-color:#171B2D;
    border:1px solid #1d2848;
    cursor:pointer;
}

.clients-summary .client-summary-title
{
    margin-bottom:20px;
}

.market-detail .clients-summary .action-text
{
    display:inline-block;
    font-family:Avenir;
    font-weight:bold;
    padding:5px 10px;
    text-transform:uppercase;
    color:#9b9b9b;
    font-size:10px;
}

.client-summary .profile-detail
{
    padding-left:30px;
}

.client-summary .profile-detail .portfolio
{
    color:#9b9b9b;
}

.client-summary .profile-detail .name
{
    font-size:20px;
}

.client-summary > .row
{
    padding:25px;
}

.client-summary .footer
{
    background-color:#202437;
}

.client-summary .footer > div
{
    height:60px;
}

/* MARKET DETAIL */
/*.market-detail  .article .title
{
    position:relative;
    font-size:1.2em;
    border-left:3px solid #ff8000;
    padding-left:10px;
    left:-10px;
    letter-spacing: 0.5px;
}

.market-detail  .article .body
{
    font-size:1em;
    letter-spacing: 0.5px;
}

.market-detail .news
{
    padding:0 30px 0 30px;
}

.market-detail .recommendation
{
    position:relative;
    padding:5px;
    background-color:#181d32;
    border: solid 1px #1d2848;
    margin-bottom:20px;
}

.market-detail .recommendation .read-more
{
    font-size:0.85em;
    color: #9b9b9b;
    letter-spacing: 0.7px;
}



.market-detail .clients > div:nth-child(1)
{
    margin-bottom:20px;
}

.market-detail .clients .positive-result
{
    color:#7ed321;
    font-size:1.2em;
    letter-spacing: 0.5px;
}

.market-detail .clients .client
{
    position:relative;
    background-color:#1d2338;
    border: solid 1px #28345a;
    margin-bottom:30px;
}

.market-detail .clients .client .detail
{
    min-height:170px;
    padding: 10px 5px;
}

.market-detail .clients .client .name
{
    font-size:1.1em;
    letter-spacing: 0.5px;
    font-family: "Avenir";
    font-weight: 500;
    line-height: 1.57;
    margin-bottom:0;
}

.market-detail .clients .client .portfolio
{
    opacity: 0.59;
    filter : alpha(opacity=59);
    font-family: Avenir;
    font-weight: 500;
    font-size:0.9em;
    letter-spacing: 0.5px;    
}

.market-detail .clients .client .footer
{
    position:absolute;    
    background-color: #31384f;
    bottom:0;
    width: 100%;
    margin:0;
}

.market-detail .clients .client .footer > div
{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market-detail .clients .client .footer > div:nth-child(1)
{
    border-right:1px solid #484E5F;
}

.market-detail .clients .client .footer > div > div
{
    width:100%;
}*/


/* CLIENT LIST */
.client-list
{
    font-family:Avenir;
    color:#000;
    padding:50px;
}

.client-list .internal-box .row-box
{
    padding-left:12px;
    padding-right:12px;
}

.client-list .internal-box .row-box > div:nth-child(2)
{
    margin-left:0;
    position:relative;
    left:-20px;
}

.client-list  .client > div
{
    position:relative;
    background-color:#fff;
    padding:20px 10px 10px 10px;
    height:346px;
    width:390px;
    border: solid 2px #0c1123;
}

.client-list  .client > div:hover
{
    cursor:pointer;
    border: solid 2px #295282;
}

.client-list .client-link-detail
{
    opacity: 0;
    filter: alpha(opacity=0);
}

/*.client-list  .client > div > *
{
    cursor:pointer;
}*/

.client-list > .client > div > .row:nth-child(1) > div
{
    margin-bottom:0;
}

.client-list > .client > .row:nth-child(2),
.client-list > .client > .row:nth-child(3),
.client-list > .client > .row:nth-child(4)
{
    padding-left:20px;
}

.client-list > .client .name
{
    font-family: Avenir;
    font-size: 20px
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.5px;
    color: #28345a;
    margin-bottom:0;
}

.client-list > .client .portfolio
{
    font-family: Avenir;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #9b9b9b;
}

.client-list .client .portfolio-value-label
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #9b9b9b;
    margin: 10px 0;
    padding:30px 0 0 20px;
    margin:0;
}

.client-list .client .portfolio-value
{
    font-size: 27px;
    font-weight: 900;
    letter-spacing: -0.2px;
    color: #1d2848;
    margin-bottom:20px;
}

.client-list .client .portfolio-value sub
{
    position:relative;
    color: #1d2848;
    font-weight: 900;
    font-size:14px;
    letter-spacing: -0.1px;
    top:-10px;
    left:-5px;
}

.client-list .client .performance-label
{
    font-family: Avenir;
    font-weight: 500;
    letter-spacing: 0px;
    color: #9b9b9b;
    margin-bottom:0;
    font-size: 13px;
}

.client-list .client .performance-positive
{    
    font-family: Avenir;
    letter-spacing: -0.2px;
    font-weight: 900;
    font-size: 27px;
    padding-left:16px;
}

.client-list .client .call
{
    padding-right:30px;
}

.client-list .client .footer
{
    background-color: #31384f;
    bottom: 0;
    display: block;    
    margin-left: -10px;
    margin-right: -10px;
    position: absolute;
    width: 100%;
    font-size:1.5em;    
}

.client-list .client .footer a
{
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #ffffff;   
    margin-right:17px;
}

.client-list .client .footer a > img
{
     margin-right:17px;
}

.client-list .client .footer a:nth-child(3)
{
    margin-left:17px;
}

.client-list .client .footer > div
{
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: space-between;
}

.client-list .client .footer > div > div
{
    width:100%;
}

.client-list .client .footer > div:nth-child(1) > div
{
    padding-left:24px;
}

.client-list .client .footer > div:nth-child(2) > div
{
    padding-right:20px;
}

/*  CLIENT INFO */
.client-info
{
    position:relative;
    top:-20px;    
}

.client-info  .sub-header.profile
{
    font-family: Avenir;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.9px;
    text-align: right;
    color: #ffffff;
    text-transform:uppercase;
}

.client-info .profile
{
    /*border-right:1px solid #1d2338;*/
    color: #4a4a4a;
    padding-right:30px;
    padding-top:20px;
    padding-left:50px;
}

.client-info .profile .current-portfolio-detail
{
     border: solid 2px #0c1123;  
}

.client-info .profile .current-portfolio-detail:hover
{
    cursor:pointer;
    border: solid 2px #295282;  
}

.client-info .profile .client .detail
{
    background-color:#fff;
    padding:20px 10px 10px 10px; 
}


.client-info .profile .client .detail > div
{
  margin-bottom:0;  
}

.client-info .profile .client
{
    border:2px solid #0c1123;
}

.client-info .profile .client:hover
{
    cursor:pointer;
    border: solid 2px #295282;  
}


.client-info .profile .client .performance
{
    background-color:#171C2F;
    padding:25px 10px 25px 10px; 
}

.client-info .profile .client .detail > div
{
    min-height:100px;
}



.client-info .profile .client > div > .row:nth-child(1) > div
{
    border-right:1px solid #EDEDED;
}

.client-info .profile .client > div > .row:nth-child(1) > div.address
{
    border-right:0;
}

.client-info .profile .client .name
{
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.5px;
    color: #1d2848;
    margin-bottom:0;
}

.client-info .profile .client .portfolio
{
    font-family: Avenir;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #9b9b9b;
    margin-bottom:0;
}

.client-info .profile .client .contact
{
    font-family: Avenir;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: 0.3px;
    color: #1d2338; 
    margin-bottom:0; 
}

.client-info .profile .client .profile-note
{
      font-family: Avenir;  
      font-size: 20px;
      font-weight: 900;
      letter-spacing: -0.2px;
      text-align: center;
      color: #ff4135;
      margin: 20px 0;
}

.client-info .profile .client .address
{
    font-size:1em;
    font-family: Avenir;
    font-weight: 500;
    line-height: 1.39;
    color: #1d2338;
}

.client-info .profile .client .address > p
{
    margin:0;
}

.client-info .profile .client .performance-label
{
      font-family: Avenir;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0px;
      color: #9b9b9b;
      margin-bottom:1px;
}

.client-info .profile .client .portfolio-previous-label
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #9b9b9b;
    margin-bottom:1px;
}

.client-info .profile .current-portfolio .header
{
    font-family: "Avenir";
    font-size: 16px;    
    font-weight: normal;
    line-height: 1.97;
    letter-spacing: 0.4px;
    color: #757880;
}

.client-info .risk-profile
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #9b9b9b;
}

.client-info .profile .current-portfolio .recommendation
{
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.client-info .profile .current-portfolio .recommendation .title
{
    font-size:1.5em;
    display:block;
}

.client-info .profile .current-portfolio .recommendation .description
{
    font-size:1.2em;
    display:block;
}

.client-info .profile .client .performance-percentage
{
    font-family: Avenir;
    font-size: 27px;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.client-info .profile .client .portfolio-time-stamp
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #9b9b9b;
    margin-bottom:1px;
}

.client-info .profile .client .portfolio-amount
{
    font-family: Avenir;
    color: #ffffff;
    font-size: 27px;
    font-weight: 500;
}

.client-info .profile .client .portfolio-previous-amount
{
    font-family: Avenir;
    font-size: 27px;
    font-weight: 500;
    /*margin-top:15px;*/
}

.client-info .profile .client .portfolio-amount sub,
.client-info .profile .client .portfolio-previous-amount sub
{
    position:relative;
    font-size:14px;
    top:-10px;
    left:-8px;
}



.client-info .profile .distribution,
.client-info .profile .assessment-description
{
    background-color: #161B2D;
    height:100%;
    min-height:270px; 
    padding:20px;
}

.client-info .current-portfolio-detail .distribution > .row
{
    /*border:10px solid;*/
    padding-left:20px;
}

.client-info .profile .assessment-description .assessment-type
{
    font-family: Avenir;
    font-size: 27px;
    color:#fff;   
    font-weight: 900;
    letter-spacing: -0.2px;
}

.client-info .profile .assessment-description .assessment-type-description
{  
    opacity: 0.5;
    font-family: Avenir;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
}


.client-info .profile .distribution > .row
{
    margin-bottom:0;
    border-left:2px solid #21273B;
    padding-bottom:0;
}

.client-info .profile .distribution > .row > div
{
    margin-bottom:10px;
}

.client-info .profile .distribution .actual-percentage
{
    color:#FF8000;
    padding:0;
    font-size:10px;
    font-family:Avenir;
}

.client-info .profile .distribution .actual-percentage > div
{
    position:relative;
    background-color:#FF8000;
    height:7px;
    border-radius:20px;
    float:left;
    margin-right:10px;
    top:7px;
}


.client-info .profile .distribution .ideal-percentage
{
    font-family:Avenir;
    color:#77797D;
    padding:0;
    font-size:10px;
}

.client-info .profile .distribution .ideal-percentage > div
{
    position:relative;
    background-color:#28345A;
    height:7px;
    border-radius:20px;
    float:left;
    margin-right:10px;
    top:7px;
    padding:0;
}

.client-info .profile .distribution .actual-label
{
    /*color:#C5C6CB;*/
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.client-info .profile .distribution .ideal-label
{
    opacity: 0.59;
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}


.client-info .profile .recommendation-list .recommendation
{
    position:relative;   
    padding:10px;    
}

.client-info .profile .recommendation-list .header
{    
    font-family: Avenir;
    font-size:1.1em;
    font-weight: 500;
    line-height: 1.31;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.client-info .profile .recommendation-list .recommendation .title1
{
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin:10px 0 0 0;
}

.client-info .profile .recommendation-list .recommendation .title2
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.6;
    color: #9b9b9b;
    letter-spacing: 0.4px;
    margin:0 0 20px 0;
    text-transform:uppercase;
}

.client-info .profile .recommendation-list .header
{   
    opacity: 0.58;
    filter: alpha(opacity=58); 
    font-family: Avenir;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.97;
    letter-spacing: 0.4px;
    color: #d6d6d6;
    margin:0;
}

/*.client-info .profile .recommendation-list .recommendation-container
{
    margin-right:40px;   
}*/

.client-info .profile .recommendation-list .header-parent
{
    margin:0;   
}

.client-info .profile .recommendation-list .recommendation .body
{
    padding:15px;
}


.client-info .profile .recommendation-list .recommendation .action
{
    font-family: Avenir;
    margin-left:10px;
    font-weight: 900;
    text-transform: uppercase;
}

.client-info .profile .recommendation-list .recommendation .body .recommendation-title
{
    font-family: Avenir;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #ff8000;
    margin-top:30px;
    margin-bottom:0px;
    text-transform:uppercase;
}

.client-info .profile .recommendation-list .recommendation .body .recommendation-description
{
    font-family: Avenir;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #ffffff;
    line-height:31px;
}

/*.client-info .profile .recommendation-list .recommendation .amount
{
    font-size:1.3em;
    font-family: Avenir;
    font-weight: 900;
    letter-spacing: -0.2px;
    color: #ffffff;   
    margin:0;
}

.client-info .profile .recommendation-list .recommendation .amount sub
{
    color: #747474;
    font-size:0.7em;
}

.client-info .profile .recommendation-list .recommendation .percentage
{
    font-size:1.2em;
    font-weight: 900;
    letter-spacing: -0.1px;
    margin:0;
}*/

.client-info .profile .recommendation-list .recommendation > div
{
    background-color:#161B2D;
    margin-bottom:0;
    min-height:330px;
    border:1px solid #222943;
}

.client-info .profile .recommendation-list .recommendation > div:hover
{
    cursor:pointer;
    border: solid 1px #295282;
}

.client-info .profile .recommendation-list .recommendation > div.selected
{
    border: solid 2px #295282;
}

.client-info .profile .recommendation-list .recommendation .footer
{
    background-color: #0C1022;
    bottom: 0;
    display: block;
    /*height: 50px;   */
    position: absolute;
    width: 100%;    
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0.60em;
    text-align:center;
    color: #9b9b9b;
}

.client-info .profile .recommendation-list .recommendation .footer .client-affected
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-transform: uppercase;
}

.client-info .profile .recommendation-list .recommendation .footer > div
{    
    align-items: center;
    height: 80px;
    justify-content: space-between;   
}

.client-info .profile .recommendation-list .recommendation .footer > div:nth-child(1)
{
    color:#fff;
    background-color:#1F2437;
}

.client-info .profile .recommendation-list .recommendation .footer > div:nth-child(1) > div:nth-child(2)
{
    font-family: Avenir;
    font-weight:bold;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.client-info .profile .recommendation-list .recommendation .footer .affected-title
{
    font-family: Avenir;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #9b9b9b;
    margin-bottom:5px;
    text-transform: uppercase;
}

.client-info .profile .recommendation-list .recommendation .footer > div:last-child
{
    border-right:0;
}

.client-info .profile .recommendation-list .recommendation .footer > div
{    
    border-right:1px solid #1d2848;
    letter-spacing: 0.6px;
    color: #161B2D;
}

.recommended-news-list
{
    padding:10px;
    font-family:Avenir;
}

.category-news-list
{
    background-color:#171B2D;
}

.category-news-list  .done
{
    border:1px solid #1f2437;
    border-radius: 100px;
    background-color: #1f2437;

    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #d6d6d6;
    min-width:120px;
}

.category-news-list .done img
{
    position:relative;
    top:-5px;
}

.client-info .sub-header a
{  
     font-family: Avenir;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #cfcfcf;
}

.recommended-news-list .news
{
    border:1px solid;
    background-color: #111727;
    border: solid 1px #22293e;   
}

.recommended-news-list .news
{
    padding:20px;
    border:1px solid #22293e;
    margin-bottom:25px;
}

.recommended-news-list .news .head
{
    position:relative;
    left:-6px;
    margin-bottom:20px;
    border-left:3px solid #ff8000;
}

.recommended-news-list .news .heading
{   
    font-family: Avenir;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #ff8000;    
}

.recommended-news-list .news .category
{
    font-family: Avenir;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.7px;
    color: #9b9b9b;
}

.recommended-news-list .news .action
{
    text-transform: uppercase;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.9px;
    /*text-align: right;*/
    /*color: #7ed321;*/
}

.recommended-news-list .news .title
{
    font-family: Avenir;
    font-size: 22px;
    font-weight: 900;
    color: #ffffff;
}

.recommended-news-list .news .sub-title
{      
    opacity: 0.59;
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.recommended-news-list .news .story
{
    opacity: 0.5;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-bottom:5px;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommended-news-list .news .read-more
{
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #4a90e2;
    margin-bottom:5px;
}

.recommended-news-list .news .price
{
    font-family: Avenir;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.31;
    letter-spacing: 0.6px;
    color: #ffffff;    
}

.recommended-news-list .news .price sub
{
    height: 16px;
    opacity: 0.59;
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.recommended-news-list .news .ts
{
    height: 16px;
    opacity: 0.59;
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.recommended-news-list .news .distribution > div
{
    background-color: #111727;
    border: solid 1px #22293e;
    margin-top:10px;
    margin-bottom:10px;
}

.recommended-news-list .news .distribution  .heading
{
    background-color: #1F2437;   
    font-weight:bold;
    letter-spacing: 0.5px;
    color: #d6d6d6;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
}

.recommended-news-list .news .distribution  .heading > div
{
    height:50px;
}

.recommended-news-list .news .distribution  .heading > div:nth-child(1)
{
    border-right:1px solid #262f4a;
}


.recommended-news-list .news .distribution  .content > div
{
    padding:20px;
}

.recommended-news-list .news .distribution  .content > div:nth-child(1)
{
    border-right:1px solid #262f4a;
}

.recommended-news-list .news .distribution .effect
{
    font-size:1.5em;
    position:relative;
    top:4px;
}

.recommended-news-list .news .related-news .heading
{
    display:block;
    margin:10px 20px 15px 0;
    height: 16px;
    opacity: 0.59;
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}


.recommended-news-list .news .related-news ul
{
    list-style-type: none;
    margin-left:-40px;
}

.recommended-news-list .news .related-news ul > li
{
    margin:0;
}

.recommended-news-list .news .related-news ul > li > a
{
    font-size:14px;
    line-height:22px;
}

.recommended-news-list .news .tag > div
{
    margin-bottom:15px;
}

.recommended-news-list .news .tag .heading
{   
    opacity: 0.59;
    font-family: Avenir;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
}

.recommended-news-list .news .tag ul li > span
{
    display:inline-block;    
    opacity:0.59;
    filter: alpha(opacity=59); 
    border:1px solid #1f2437;
    padding:2px 10px;
    border-radius:20px;
    background-color:#1f2437;
    margin:2px;
}

.recommended-news-list .news .tag ul li > span a
{
    color:#fff;
}

.recommended-news-list .news .rating > div
{
    border: solid 1px #22293e;
}

.recommended-news-list .news .rating .heading
{    
    background-color: #1F2437;   
    font-weight:bold;
    letter-spacing: 0.5px;
    color: #d6d6d6;
    font-family: Avenir;
    font-size: 18px;    
    margin-bottom:17px;
}

.recommended-news-list .news .rating .heading > span
{
    display:inline-block;
    height:45px;
    padding-top:10px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.31;
    letter-spacing: 0.5px;
    color: #d6d6d6;
}


.recommended-news-list .news .rating .detail
{
    border-left:1px solid #22293e;
}

.recommended-news-list .news .rating .detail .description
{
    opacity: 0.5;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.recommended-news-list .news .rating .score .actual
{
    font-family: Avenir;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 1.6px;
    margin-bottom:0;
}

.recommended-news-list .news .rating .score .max
{
    position:relative;
    font-family: Avenir;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.4px;
    color: #9b9b9b;
    top:-15px;
}

.client-info .report-list
{
    padding-top:20px;
    margin-top:20px;
    background-color:#161B2D;
    padding-left:20px;
    padding-right:20px;
}

.client-info .table-content
{
    padding:0 !important;
    height:65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-info .table-content > div
{
    font-size:14px;
    opacity:0.5;      
    
    text-align:center;
    width:100%;    
}

.client-info .rating-table
{
    padding-left:15px;
    margin-top:15px;
}


@media (min-width:992px)
{ 
    .client-info .profile .recommendation-list .recommendation-container
    {
        margin-right:10px;   
        margin-bottom:15px;
    }

    /* REQUEST BY PAOLA MAKE THE 3 COLUMN SAME HEIGHT    */
    .market-detail > .market-list,
    .market-detail > .category-news-list,
    .market-detail > .clients-summary
    {
        height:1930px;
    }
}

@media (min-width:1200px)
{
    .client-info .profile .recommendation-list .recommendation-container
    {
        margin-right:0;   
        margin-bottom:15px;
    }
}


/*
 
 Extra small devices Phones (<768px)
 Small devices Tablets (≥768px)
 Medium devices Desktops (≥992px)
 Large devices Desktops (≥1200px) 

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

*/

/*.client-info .profile .recommendation-list .recommendation .footer > div > div
{
    width:100%;
}*/


/*.client-info .report-list
{
    border-left:1px solid #1d2338;
}

.client-info .report-list .report
{
    text-align:center;
}*/

/*@media (min-width: 768px)
{
    .main-content .market-detail > div
    {
        width:33.33333%;
        position: absolute;
        top:140px;    
        height:85%;
    }

    .main-content .market-detail > .navigation
    {
        left:45px;
        width:300px;
        padding : 0 10px 0 0;
        overflow-y: scroll;
        overflow-x:hidden;
        z-index:2;
    }

    .main-content .market-detail > .content
    {
        position: absolute;
        left:0;
        margin-left:370px;        
        width:100%;
        overflow:hidden;
        z-index:1;
    }

    .main-content .market-detail > .content > .detail
    {
        float:left;
        width:50%;
        overflow-y:scroll;
        overflow-x:hidden;    
    }

    .main-content .market-detail > .content > .clients
    {
        float:right;
        margin-right:450px;
    }
}*/