<div class='row market-detail'>
    <div class='col-md-5 col-lg-3 market-list'>
       <div class='row asset-view' ng-repeat="recommendation in data.recommendations">
            <div class='col-lg-12' ng-click="handler.selectMarket(recommendation)" ng-class="{'inactive-recommendation' : recommendation.id !== data.selectedReccomendationId }">
                <div class='market-detail'>
                        <div class='row header clearfix'>
                            <div class='col-xs-4 text-left'>
                                <span class='ticker'>{{recommendation.heading}}</span>                
                            </div>
                            <div class='col-xs-8 text-right'>
                                <span class='action-text'>STRONG SUPPORT FOR</span><span class='action' ng-class="{'positive-color':recommendation.action==='buy','negative-color':recommendation.action==='sell'}">{{recommendation.action}}</span>
                            </div>
                        </div>
                        <div class='row title'>
                            <div class='col-xs-12'>
                                {{recommendation.title}}
                            </div>
                        </div>
                        <div class='row detail'>
                            <div class='col-xs-12'>
                                {{recommendation.summary}}
                            </div>
                        </div>
                </div>            
                <div class="btn-group btn-group-justified footer clearfix">
                    <div class="btn-group">
                        <div class='client-affected'>Clients</div>
                        <div xng-class="{'positive-color':recommendation.marketEffect === 'positive','negetive-color':recommendation.marketEffect === 'negative'}">{{recommendation.impact.positive + recommendation.impact.negative}}</div>
                    </div>
                    <div class="btn-group" role="group">
                        <div class='affected-title'>RATING</div>
                        <div style='height:26px;padding-top:2px;padding-top:6px;'>
                            <img ng-src="{{handler.getIcon(recommendation.rating)}}"/>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <div class='affected-title'>MOMENTUM</div>
                        <div style='height:26px;padding-top:6px;'>
                            <img ng-src="{{handler.getIcon(recommendation.momentum)}}"/>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                         <div class='affected-title'>NEWS</div>
                        <div style='height:26px;padding-top:6px;'>
                            <img ng-src="{{handler.getIcon(recommendation.news)}}"/>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <div class='affected-title'>SOCIAL</div>
                        <div style='height:26px;padding-top:6px;'>
                            <img ng-src="{{handler.getIcon(recommendation.social)}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-7 col-lg-5 category-news-list'>
        <recommendation-news-list ng-model="data.news"></recommendation-news-list>
    </div>
    <div class='col-md-12 col-lg-4 clients-summary' ng-if="true">
        <div class="row client-summary-title">
            <div class='col-xs-6'>
                <span class='action-text'>STRONG SUPPORT FOR</span><span class='action' ng-class="{'positive-color':data.selectedRecommendation.action==='buy','negative-color':data.selectedRecommendation.action==='sell'}">{{data.selectedRecommendation.action}}</span>
            </div>
            <div class='col-xs-6 text-right client-total' ng-class="{'positive-color':data.selectedRecommendation.action==='buy','negative-color':data.selectedRecommendation.action==='sell'}">
                {{data.selectedRecommendation.impact.positive + data.selectedRecommendation.impact.negative}}
            </div>
        </div>
        <div class="row" ng-repeat="client in data.clients">
            <div class="col-xs-12">
                <client-summary ng-model="client" ng-client-select="handler.onClientClick"></client-summary>
            </div>
        </div>
    </div>
</div>