<div class='row header hidden-xs top-header' style='height:60px;'>
    <div class='col-xs-8'>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ng-class="{'active': data.selectedMenu === 'market-insight'}"><a href="#{{data.urls.marketList}}">{{data.labels['market-insight']}}</a></li>
            <li role="presentation" ng-class="{'active': data.selectedMenu === 'client-list'}"><a href="#{{data.urls.clientList}}">{{data.labels['client-list']}}</a></li>
            <li role="presentation" ng-class="{'active': data.selectedMenu === 'schedule'}"><a xhref="#/app/schedule">{{data.labels['schedule']}}</a></li>
            <li role="presentation" ng-class="{'active': data.selectedMenu === 'your-profile'}"><a xhref="#/app/profile">{{data.labels['your-profile']}}</a></li>
        </ul>
    </div>
    <div class='col-xs-4 logo text-right'>
        <img src='img/logo.png'/>
    </div>
</div>           
<div class='row header-content'>
    <div class='col-xs-6 text col1'>
        <span data-time-ticking="" class='timer'></span>
    </div>
    <div class='col-xs-6 col1'>
         <div class="dropdown pull-right" ng-if="data.isSortingVisible === true">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id='sort-by'>By Urgency</span> <span class="caret"></span></button>
              <ul class="dropdown-menu">
                    <li><a href="#" ng-click="handler.onClickSorting('urgency')">By Urgency</a></li>
                    <li><a href="#" ng-click="handler.onClickSorting('lost')">By Lost</a></li>
              </ul>
        </div>
    </div>
</div>
<div class='main-content' ui-view>
    
</div>