<div class="col-xs-12 news story">
    <div class="row head">
        <div class="col-xs-6">
            <div class='heading'>{{data.news.heading}}</div>
        </div>
        <div class="col-xs-6 text-right">
            <div class='category'>{{data.news.category}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style='margin-bottom:20px'>
            <div class='title'>{{data.news.title}}</div>
            <div class='ts'>
                {{data.news.ts}}
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-xs-12 story">
            {{data.news.story}}
        </div>        
    </div>
    <div class="row" ng-if="data.news.story">
        <div class="col-xs-12 read-more">
            <a>See More</a>
        </div>        
    </div>
    <div class="row text-center distribution" ng-if="data.news.distribution" style='padding:15px;'>
        <div class="col-xs-12 col-xs-offset-1---">
            <div class="row heading">
                <div class='col-xs-6'>
                    <span class='effect positive-color' ng-if="data.news.distribution.col1.effect === 'positive'">+</span> 
                    <span class='effect negative-color' ng-if="data.news.distribution.col1.effect === 'negative'">-</span>
                    <span style='position:relative;top:2px;'>{{data.news.distribution.col1.title}}</span>
                </div>
                <div class='col-xs-6'>
                <span class='effect' style='position:relative;top:2px;'><img ng-src="{{handler.getIcon(data.news.distribution.col2)}}"/></span>
                    <span style='position:relative;top:2px;' xng-class="{'positive-color':data.news.distribution.col2.effect === 'positive','negative-color':data.news.distribution.col2.effect === 'negative','neutral-color':data.news.distribution.col2.effect === 'neutral'}">
                        {{data.news.distribution.col2.title}}
                    </span>
                </div>
            </div>
            <div class="row content">
                <div class='col-xs-6 table-content'>
                    <div class='text-centerx'>
                        {{data.news.distribution.col1.description}}
                    </div>
                </div>
                <div class='col-xs-6 table-content'>
                    <div class='text-centerx'>
                        {{data.news.distribution.col2.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row related-news" ng-if="data.news.relatedNews">
        <div class="col-xs-12" style="margin-bottom:0;">
<!--             <a href='' class='heading'>RELATED CONTENT</a>
            <ul>
                <li ng-repeat="news in data.news.relatedNews"><a href='' ng-click="handler.onClickRelatedNewss(news)">{{news.title}}</a></li>
            </ul> -->
        </div>    
    </div> 
    <div class="row tag" ng-if="data.news.tag">
        <div class="col-xs-12">
            <a href='' class='heading'>{{data.news.tag.title}}</a>
            <ul class='list-inline'>
                <li ng-repeat="tag in data.news.tag.list"><span><a href=''>{{tag}}</span></a></li>
            </ul>
        </div>        
    </div>
    <div class="row rating rating-table" ng-if="data.news.rating">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4 text-center score">
                    <div class="actual" ng-class="{'positive-color':data.news.rating.effect ==='positive','negative-color':data.news.rating.effect ==='negative','neutral-color':data.news.rating.effect ==='neutral'}">
                        {{data.news.rating.score}}
                    </div>
                    <div class="max">
                        <span>OF </span><span>{{data.news.rating.maxScore}}</span>
                    </div>
                </div>
                <div class="col-xs-8 detail">
                    <div class="row">
                        <div class="col-xs-12 heading">
                            <span class='effect'><img ng-src="{{handler.getIcon(data.news.rating)}}"/></span>
                            <span>{{data.news.rating.title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 description">{{data.news.rating.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 news story" ng-show="data.news.lipper.flag==true">
    <div class="row head">
        <div class="col-xs-12">
            <div class='heading'>{{data.news.lipper.title}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Total Return</td>
                        <td>1 Month</td>
                        <td>2 Month</td>
                        <td>6 Month</td>
                        <td>1 Year</td>
                        <td>3 year</td>
                        <td>5 year</td>
                        <td>10 year</td>
                        <td>Coming</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.news.lipper.totalReturn.company}}</td>
                        <td ng-repeat="value in data.news.lipper.totalReturn.companyValues" ng-class="{'positive-color':value>0, 'negative-color':value<0}" class="text-center">{{value}}</td>
                    </tr>
                    <tr>
                        <td>{{data.news.lipper.totalReturn.market}}</td>
                        <td ng-repeat="value in data.news.lipper.totalReturn.marketValues" ng-class="{'positive-color':value>0, 'negative-color':value<0}" class="text-center">{{value}}</td>
                    </tr>
                    <tr>
                        <td>{{data.news.lipper.totalReturn.global}}</td>
                        <td ng-repeat="value in data.news.lipper.totalReturn.globalValues" ng-class="{'positive-color':value>0, 'negative-color':value<0}" class="text-center">{{value}}</td>
                    </tr>
                    <tr>
                        <td class="text-center score" colspan="9">
                            <p class="score" ng-class="{'positive-color:data.news.lipper.totalReturn.score>3, 'neutral-color':data.news.lipper.totalReturn.score==3, 'negative-color':data.news.lipper.totalReturn.score<3}">{{data.news.lipper.totalReturn.score}}</p>
                            <p class="max">of 5</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Revenue Consistency -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Revenue Consistency</td>
                        <td>1 Year</td>
                        <td>3 Year</td>
                        <td>5 Year</td>
                        <td>10 Year</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sharpe Ratio</td>
                        <td ng-repeat="value in data.news.lipper.consistentReturn.values" ng-class="{'positive-color':value>0, 'negative-color':value<0}" class="text-center">{{value}}</td>
                    </tr>
                    <tr>
                        <td class="text-center score" colspan="5">
                            <p class="score" ng-class="{'positive-color:data.news.lipper.consistentReturn.score>3, 'neutral-color':data.news.lipper.consistentReturn.score==3, 'negative-color':data.news.lipper.consistentReturn.score<3}">{{data.news.lipper.consistentReturn.score}}</p>
                            <p class="max">of 5</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 元本
保全性 -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Preservation Return</td>
                        <td>1 Year</td>
                        <td>3 Year</td>
                        <td>5 Year</td>
                        <td>10 Year</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Annual Standard Deviation</td>
                        <td ng-repeat="value in data.news.lipper.preservationReturn.values" ng-class="{'positive-color':value>0, 'negative-color':value<0}" class="text-center">{{value}}</td>
                    </tr>
                    <tr>
                        <td class="text-center score" colspan="5">
                            <p class="score" ng-class="{'positive-color:data.news.lipper.preservationReturn.score>3, 'neutral-color':data.news.lipper.preservationReturn.score==3, 'negative-color':data.news.lipper.preservationReturn.score<3}">{{data.news.lipper.preservationReturn.score}}</p>
                            <p class="max">of 5</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Expense -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="2">Expense</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Expense</td>
                        <td class="text-center">{{data.news.lipper.expense.value}}</td>
                    </tr>
                    <tr>
                        <td class="text-center score" colspan="2">
                            <p class="score" ng-class="{'positive-color:data.news.lipper.expense.score>3, 'neutral-color':data.news.lipper.expense.score==3, 'negative-color':data.news.lipper.expense.score<3}">{{data.news.lipper.expense.score}}</p>
                            <p class="max">of 5</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>