<div class="col-xs-12 news">            
    <div class="row head">
        <div class="col-xs-6">
            <div class='heading'>{{data.news.heading}}</div>
        </div>
        <div class="col-xs-6 text-right">
            <div class='category'>{{data.news.category}}</div>
        </div>
    </div>
    <div class="row">
        <div class='col-xs-2 text-left action' ng-class="{'positive-color':data.news.action === 'buy','negative-color':data.news.action === 'sell'}">
            {{data.news.action}}
        </div>
        <div class='col-xs-4' style='padding-left:4px'>
            <div class='title'>{{data.news.title.main}}</div>
            <div class='sub-title'>{{data.news.title.sub}}</div>
        </div>
        <div class='col-xs-4' style='padding:0'>
            <div class='price'>
               <img src="img/red-arrow-down.png" ng-if="data.news.percentage <= -0.0000000001"/><img src="img/green-arrow-down.png" ng-if="data.news.percentage >= 0.00000000001"/> {{handler.abs(data.news.price) | number:2}} <sub>{{data.news.currency}}</sub>
            </div>
            <div class='ts'>
                {{data.news.ts}}
            </div>
        </div>
        <div class='col-xs-2'>
            <div class='text-right' ng-class="{'positive-color':data.news.amount > 0,'negative-color':data.news.amount < 0.0001}">{{handler.abs(data.news.amount) | number:2}}</div>
            <div class='text-right' ng-class="{'positive-color':data.news.amount > 0,'negative-color':data.news.amount < 0.0001}">{{handler.abs(data.news.percentage) | number:2}}%</div>
        </div>
        <!-- objective -->
        <div class="col-xs-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Investment Objective</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>{{data.news.summary}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- objective end -->
        <div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
            <!-- key attributes -->
            <div class="col-xs-12 col-sm-6 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">Fund Characteristics</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- launch date -->
                        <tr>
                            <td>Launch Date</td>
                            <td>{{data.news.launchDate}}</td>
                        </tr>
                        <!-- fund currency -->
                        <tr>
                            <td>Fund Currency</td>
                            <td>{{data.news.fundCurrency}}</td>
                        </tr>
                        <!-- lipper global -->
                        <tr>
                            <td>Lipper Global</td>
                            <td>{{data.news.lipperGlobal}}</td>
                        </tr>
                        <!-- projected yield -->
                        <tr>
                            <td>Projected Yield</td>
                            <td>{{data.news.projectedYield}}</td>
                        </tr>
                        <!-- geographical focus -->
                        <tr>
                            <td>Geographical Focus</td>
                            <td>{{data.news.geographicalFocus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- key attributes end -->
            <!-- price graph -->
            <div class="col-xs-12 col-sm-6 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Price Performance</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img ng-src="{{data.news.priceGraphImg}}" alt="price-graph" class="img-responsive center-block">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- price graph end -->
        </div>

        <!-- fees & investment -->
        <div class="col-xs-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <p>Fees & Investment</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img ng-src="{{data.news.feesTable}}" alt="fees-table" class="img-responsive center-block">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- fees & investment end -->
        <div class="col-xs-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2">Dividend</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- div frequency -->
                    <tr>
                        <td>Dividend Frequency</td>
                        <td>{{data.news.dividendFrequency}}</td>
                    </tr>
                    <!-- last payment date -->
                    <tr>
                        <td>Last Payment Date</td>
                        <td>{{data.news.paymentDate}}</td>
                    </tr>
                    <!-- ex dividend date -->
                    <tr>
                        <td>ex Dividend Date</td>
                        <td>{{data.news.dividendDate}}</td>
                    </tr><tr>
                        <td>ex Dividend Payment</td>
                        <td>{{data.news.dividendPayment}}</td>
                    </tr>
                </tbody>
            </table>
            <img ng-src="{{data.news.dividendGraph}}" class="img-responsive" alt="dividend-graph">
        </div>
        <div class="col-xs-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Top 10 holdings</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>     
                            <img ng-src="{{data.news.holdings}}" alt="" class="img-responsive center-block">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>