<div class='recommended-news-list'>
    <div class="row" ng-repeat="news in data.news">
        <recommendation-news-summary ng-model="news" ng-if="news.format === 'summary'"></recommendation-news-summary>
        <recommendation-news ng-model="news" ng-if="news.format !== 'summary'"></recommendation-news>
    </div>   
</div>