<div class="row client-info">
    <div class="col-md-7 profile">
        <div class="row"  style='margin-bottom:20px;'>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-6 text-right sub-header profile">
                <span data-client-assessment-type-text ng-model="data.client"></span> RISK PROFILE <span data-assessment-type-icon ng-model="data.client"></span>
            </div>
        </div>

        <!-- CLIENT PROFLILE -->
        <div class="row client">
            <div class="col-xs-12" style='margin-bottom:0;'>
                <div class="row detail">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="position:relative;left:-16px;">
                        <div class='col-xs-4'>
                            <div style="text-align:center;">
                                <img ng-src="{{data.client.photo}}" style='display:inline-block;'/>
                            </div>
                        </div>
                        <div class='col-xs-8'>
                            <p class='name'>{{data.client.name}}</p>
                            <p class='portfolio'>Portfolio: {{data.client.portfolio.description}}</p>
                            <p class='portfolio'><span data-client-age="" ng-model="data.client"></span> years old</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 text-left" style='padding-left:0;width:230px;'>
                        <p class='contact'>
                            {{data.client.contact.mobile}}
                        </p>
                        <p class='contact'>
                            {{data.client.contact.email}}
                        </p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 address">
                        <p data-address="{{data.client.address}}"></p>
                    </div>
                </div>
                <div class="row performance">
                    <div class="col-xs-4" style='padding-left:30px;'>
                         <p class='performance-label'>{{data.client.portfolio.performance.duration}}</p>
                         <div class="performance-percentage" ng-class="{'positive-color':data.client.portfolio.performance.percentage >= 0 , 'negative-color':data.client.portfolio.performance.percentage < 0}">
                             <span ng-if="data.client.portfolio.performance.percentage >= 0">+</span>{{data.client.portfolio.performance.percentage | number:2}}%
                         </div>
                    </div>
                    <div class="col-xs-4">
                        <p class="portfolio-time-stamp">{{data.client.portfolio.label}}</p>
                        <p class="portfolio-amount" style="margin-bottom:0">
                            <span portfolio-value="{{data.client.portfolio.performance.amount}}" currency="{{data.client.portfolio.currency}}"></span>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p class='portfolio-previous-label'>LAST MONTH PERFORMANCE </p>
                        <p class='portfolio-previous-amount' ng-class="{'positive-color':data.client.portfolio.performance.previousAmount >= 0 , 'negative-color':data.client.portfolio.performance.previousAmount <= -1}" style="margin-bottom:0">
                            <span portfolio-value="{{data.client.portfolio.performance.previousAmount}}" currency='{{data.client.portfolio.currency}}'></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CLIENT PROFLILE -->

        <!-- CURRENT PORTFOLIO -->
        <div class="row current-portfolio">
            <div class='col-xs-12'>
                <div class='row'>
                    <div class='col-xs-12' style='margin:40px 0 10px 0;padding-left:0'>
                        <h2 class='header' style='padding:0;margin:0'>Current Portfolio</h2>
                    </div>
                </div>
                <div class='row current-portfolio-detail'>
                    <div class='col-xs-4 assessment-description'>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class='risk-profile'>RISK PROFILE</p>
                                <p class="assessment-type"><span data-client-assessment-type-text ng-model="data.client"></span> <span data-assessment-type-icon ng-model="data.client"></span></p>
                                <p class='assessment-type-description'>
                                    {{data.client.portfolio.assessmentTypeDescription}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-8 distribution'>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class='col-xs-5 actual-label'>Equity Funds</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution.equities.percentage}}%"></div><span>{{data.client.portfolio.distribution.equities.percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution.equities.ideal}}%"></div><span>{{data.client.portfolio.distribution.equities.ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class='col-xs-5 actual-label'>Fixed Income Funds</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution['fixed-income'].percentage}}%"></div><span>{{data.client.portfolio.distribution['fixed-income'].percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label actual-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution['fixed-income'].ideal}}%"></div><span>{{data.client.portfolio.distribution['fixed-income'].ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class='col-xs-5 actual-label'>Alternative Funds</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution.alternative.percentage}}%"></div><span>{{data.client.portfolio.distribution.alternative.percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label actual-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution.alternative.ideal}}%"></div><span>{{data.client.portfolio.distribution.alternative.ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class='col-xs-5 actual-label'>Cash</div>
                                    <div class='col-xs-7 actual-percentage'>
                                        <div style="width:{{data.client.portfolio.distribution.cash.percentage}}%"></div><span>{{data.client.portfolio.distribution.cash.percentage}}%</span>
                                    </div>
                                </div>
                                <div class="row" style='position:relative;top:-3px;'>
                                    <div class='col-xs-5 ideal-label'>Ideal</div>
                                    <div class='col-xs-7 ideal-percentage' style='position:relative;top:-3px;'>
                                        <div style="width:{{data.client.portfolio.distribution.cash.ideal}}%"></div><span>{{data.client.portfolio.distribution.cash.ideal}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CURRENT PORTFOLIO -->

        <!-- RECOMMENDATIONS -->
        <div class="row recommendation-list" ng-if="data.reccomendations.length > 0" style="padding:0">
            <div class='col-xs-12'>
                <div class='row'>
                    <div class='col-xs-12 header-parent'>
                        <h2 class='header'>Recommendations</h2>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4  recommendation-container" ng-repeat="recommendation in data.reccomendations">
                        <div class='row recommendation'>
                            <div class="col-xs-12" id="recommendation-{{recommendation.id}}" ng-click="handler.onClickRecommendation(recommendation,$index)">
                                <div class="row body">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <h2 class='title1'>{{recommendation.heading}}</h2>
                                            </div>
                                            <div class="col-xs-8 text-right" style='padding:0'>
                                                <span class='title2'>{{recommendation.marketAsessmentType}} SUPPORT FOR</span> <span data-reccomendation-action="" ng-model="recommendation"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 recommendation-title">{{recommendation.title}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 recommendation-description">{{recommendation.summary}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-justified footer" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <div class='client-affected'>Clients</div>
                                        <div>{{recommendation.client.length}}</div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>LIPPER</div>
                                        <div style='height:26px;padding-top:2px;padding-top:6px;'>
                                            <img ng-src="{{handler.getIcon(recommendation.rating)}}"/>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>SHARPE</div>
                                        <div style='height:26px;padding-top:6px;'>
                                            <img ng-src="{{handler.getIcon(recommendation.momentum)}}"/>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>ALPHA</div>
                                        <div style='height:26px;padding-top:6px;'>
                                            <img ng-src="{{handler.getIcon(recommendation.news)}}"/>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <div class='affected-title'>SENTIMENT</div>
                                        <div style='height:26px;padding-top:6px;'>
                                            <img ng-src="{{handler.getIcon(recommendation.social)}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END POSITIVE OUTLOOK -->
    </div>
    <div class="col-md-5 report-list" ng-if="data.news.length > 0">
        <div class="row">
            <div class="col-xs-12 text-left sub-header" style='margin-bottom:0;'>
                 <a ng-click="handler.onClickCategoryDone()" class='test1'>DONE</a>
            </div>
        </div>
        <div class='category-news-list'>
            <recommendation-news-list ng-model="data.news"></recommendation-news-list>
             <a class="btn btn-default done" ng-click="handler.onClickCategoryDone()">DONE <img src="img/check-mark.png"/></a>
        </div>
    </div>
</div>
