<div class='client-summary' ng-click="handler.onClientClick(data.client)">
    <div class="row">
        <div class="col-xs-3 col-md-3 col-lg-3">
            <img ng-src="{{data.client.photo}}"/>
        </div>
        <div class="col-xs-8 col-md-9 col-lg-9 profile-detail">
             <p class='name'>{{data.client.name}}</p>
             <p class='portfolio'>Portfolio: {{data.client.portfolio.description}}</p>
        </div>
    </div>
    <div class="btn-group btn-group-justified footer">
        <div class="btn-group" role="group">
            <img src="img/mail.png"/>
        </div>
        <div class="btn-group" role="group">
             <img src="img/add-to-calendar.png"/>
        </div>
    </div>
</div>