<div class='row market-insight'>
    <div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 asset-view' ng-repeat="recommendation in data.recommendations" ng-click="handler.onRecommendationClick(recommendation)">
        <div>
            <div class='market-detail'>
                    <div class='row header clearfix'>
                        <div class='col-xs-4 text-left'>
                            <span class='ticker'>{{recommendation.heading}}</span>
                        </div>
                        <div class='col-xs-8 text-right'>
                            <span class='action-text'>STRONG SUPPORT FOR</span><span class='action' ng-class="{'positive-color':recommendation.action==='buy','negative-color':recommendation.action==='sell'}">{{recommendation.action}}</span>
                        </div>
                    </div>
                    <div class='row title'>
                        <div class='col-xs-12'>
                            {{recommendation.title}}
                        </div>
                    </div>
                    <div class='row detail'>
                        <div class='col-xs-12'>
                            {{recommendation.summary}}
                        </div>
                    </div>
            </div>
            <div class="btn-group btn-group-justified footer">
                <div class="btn-group">
                    <div class='client-affected'>Clients</div>
                    <div xng-class="{'positive-color':recommendation.marketEffect === 'positive','negetive-color':recommendation.marketEffect === 'negative'}">{{recommendation.impact.positive + recommendation.impact.negative}}</div>
                </div>
                <div class="btn-group" role="group">
                    <div class='affected-title'>LIPPER</div>
                    <div style='height:26px;padding-top:2px;padding-top:6px;'>
                        <img ng-src="{{handler.getIcon(recommendation.rating)}}"/>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <div class='affected-title'>SHARPE</div>
                    <div style='height:26px;padding-top:6px;'>
                        <img ng-src="{{handler.getIcon(recommendation.momentum)}}"/>
                    </div>
                </div>
                <div class="btn-group" role="group">
                     <div class='affected-title'>ALPHA</div>
                    <div style='height:26px;padding-top:6px;'>
                        <img ng-src="{{handler.getIcon(recommendation.news)}}"/>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <div class='affected-title'>SENTIMENT</div>
                    <div style='height:26px;padding-top:6px;'>
                        <img ng-src="{{handler.getIcon(recommendation.social)}}"/>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
